main {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.display {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: cornflowerblue;
  border: 5px solid darkslategray;
}

form label {
  text-align: center;
  margin: 10px 0;
}

form input:not([type="submit"]) {
  height: 30px;
  background-color: lightsalmon;
  border: none;
  text-align: center;
}

textarea {
  background-color: lightsalmon;
  border: none;
}

form input[type="submit"] {
  height: 30px;
  width: 100px;
  margin: 10px auto;
  text-align: center;
  border: none;
  border-radius: 3px;
}

.output {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 400px;
  border: 3px solid darkslategray;
  background-color: khaki;
}

.output__text {
  height: 70%;
  width: 100%;
  padding: 10px;
}

.output__text p {
  text-align: center;
}

#show-output {
  height: 30px;
  width: 100px;
  margin: 0 auto 10px;
  border: none;
}

.output__button {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}